:root {
  --brand-family: Roboto, Helvetica, Arial;
  --brand-blue: #01589d;
  --text-color: #fff;
  --link-color: var(--text-color);
  --link-hover: #ededed;
  --font-size: 14px;
  --font-weight: 400;
}

.ucsc-global-container {
  font-family: var(--brand-family);
  font-weight: var(--font-weight);
  background-color: var(--brand-blue);
  font-size: var(--font-size);
  color: var(--text-color);
  width: 100%;
  padding: .25em 0;
}

.ucsc-global-container .ucsc-global-row {
  max-width: 58em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
}

.ucsc-global-container .ucsc-global-row .ucsc-global-left {
  text-align: left;
}

.ucsc-global-container .ucsc-global-row .ucsc-global-right {
  text-align: right;
}

.ucsc-global-container .ucsc-global-menu {
  margin: 0 0 .5em;
  padding: 0;
  display: inline-block;
}

.ucsc-global-container .ucsc-global-menu li {
  display: inline;
  margin: 0;
}

.ucsc-global-container .ucsc-global-menu li:after {
  background-color: #f1af13;
  width: .28em;
  height: .28em;
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: relative;
  top: -2px;
  right: auto;
  bottom: auto;
  left: .12em;
}

.ucsc-global-container .ucsc-global-menu li:last-child:after {
  display: none;
}

.ucsc-global-container .ucsc-global-menu li a {
  display: inline-block;
  color: var(--link-color);
  padding: .25em .5em;
  text-decoration: none;
}

.ucsc-global-container .ucsc-global-menu li a:focus,
.ucsc-global-container .ucsc-global-menu li a:hover,
.ucsc-global-container .ucsc-global-menu li a:active {
  text-decoration: underline;
}
