:root {
  --brand-family: Roboto, Helvetica, Arial;
  --brand-blue: #01589d;
  --text-color: #fff;
  --link-color: var(--text-color);
  --link-hover: #ededed;
  --font-size: 14px;
  --font-weight: 400;
}

.ucsc-global-container {
  font-family: var(--brand-family);
  font-weight: var(--font-weight);
  background-color: var(--brand-blue);
  font-size: var(--font-size);
  color: var(--text-color);
  width: 100%;
  padding: .25em 0;

  .ucsc-global-row {
    max-width: 60em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;

    .ucsc-global-left {
      text-align: left;
    }

    .ucsc-global-right {
      text-align: right;
    }
  }

  .ucsc-global-menu {
    margin: 0 0 .5em;
    padding: 0;
    display: inline-block;

    li {
      display: inline;
      margin: 0;

      &:after {
        background-color: #f1af13;
        width: .28em;
        height: .28em;
        border-radius: 50%;
        content: "";
        display: inline-block;
        position: relative;
        top: -2px;
        right: auto;
        bottom: auto;
        left: .12em;
      }

      &:last-child:after {
        display: none;
      }

      a {
        display: inline-block;
        color: var(--link-color);
        padding: .25em .5em;
        text-decoration: none;

        &:focus,
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
    }

  }


}